html {
  font-size: 18px;
  color: #f9fbfd;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 240;
  font-style: normal;
  background-color: #1f1f1f;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
}

h1, h3, h4, p {
  text-align: left;
}

p, li {
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: .75px;
}

.about-text {
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #2b2b2b;
}

.header-left {
  font-size: 24px;
  font-weight: bold;
}

.header-nav a {
  margin: 0 15px;
  color: #f9fbfd;
  text-decoration: none;
}

.header-right a {
  color: #d3d3d3;
  text-decoration: none;
  margin: 0 5px;
}

.header-nav, .header-right {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
}
