html {
  font-size: 18px;
  color: #f9fbfd;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 238;
  font-style: normal;
  background-color: #1f1f1f;
}

h1, h3, h4, p {
  text-align: left;
}

p, li {
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: .75px;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  margin: 0 auto;
}

.about-text {
  font-size: 16px;
}

.linkedin-link {
  color: #d3d3d3;
  text-decoration: none;
}
